<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddRemoveSimilarityFactor</key>
	<real>0.95</real>
	<key>AddRemoveUsesSimilarity</key>
	<true/>
	<key>AfterMergeDo</key>
	<integer>0</integer>
	<key>AfterMergeSwitchTo</key>
	<integer>1</integer>
	<key>AllowHistoryEditingOfRepository</key>
	<false/>
	<key>BrowserBehaviourCommandDoubleClick</key>
	<integer>0</integer>
	<key>BrowserBehaviourCommandOptionDoubleClick</key>
	<integer>4</integer>
	<key>BrowserBehaviourDoubleClick</key>
	<integer>2</integer>
	<key>BrowserBehaviourOptionDoubleClick</key>
	<integer>1</integer>
	<key>DateAndTimeFormat</key>
	<integer>1</integer>
	<key>DefaultAnnotationOptionChangeset</key>
	<false/>
	<key>DefaultAnnotationOptionDate</key>
	<true/>
	<key>DefaultAnnotationOptionFollow</key>
	<true/>
	<key>DefaultAnnotationOptionLineNumber</key>
	<true/>
	<key>DefaultAnnotationOptionNumber</key>
	<true/>
	<key>DefaultAnnotationOptionText</key>
	<true/>
	<key>DefaultAnnotationOptionUser</key>
	<true/>
	<key>DefaultFilesView</key>
	<integer>0</integer>
	<key>DefaultHGIgnoreContents</key>
	<string>syntax: glob
.DS_Store</string>
	<key>DefaultWorkspacePath</key>
	<string>~</string>
	<key>DisplayFileIconsInBrowser</key>
	<true/>
	<key>DisplayResultsOfAddRemoveRenameFiles</key>
	<true/>
	<key>DisplayResultsOfMerging</key>
	<false/>
	<key>DisplayResultsOfPulling</key>
	<true/>
	<key>DisplayResultsOfPushing</key>
	<true/>
	<key>DisplayResultsOfUpdating</key>
	<true/>
	<key>DisplayWarningForAddRemoveRenameFiles</key>
	<true/>
	<key>DisplayWarningForAmend</key>
	<true/>
	<key>DisplayWarningForBackout</key>
	<true/>
	<key>DisplayWarningForBranchNameRemoval</key>
	<true/>
	<key>DisplayWarningForFileDeletion</key>
	<true/>
	<key>DisplayWarningForMarkingFilesResolved</key>
	<false/>
	<key>DisplayWarningForMerging</key>
	<true/>
	<key>DisplayWarningForPostMerge</key>
	<true/>
	<key>DisplayWarningForPulling</key>
	<true/>
	<key>DisplayWarningForPushing</key>
	<true/>
	<key>DisplayWarningForRenamingFiles</key>
	<false/>
	<key>DisplayWarningForRepositoryDeletion</key>
	<true/>
	<key>DisplayWarningForRevertingFiles</key>
	<true/>
	<key>DisplayWarningForRollbackFiles</key>
	<true/>
	<key>DisplayWarningForTagRemoval</key>
	<true/>
	<key>DisplayWarningForUntrackingFiles</key>
	<true/>
	<key>DisplayWarningForUpdating</key>
	<true/>
	<key>ExecutableLocationHG</key>
	<string>/usr/local/bin/hg</string>
	<key>FontSizeOfBrowserItems</key>
	<real>11</real>
	<key>HandleGeneratedOrigFiles</key>
	<integer>0</integer>
	<key>IncludeHomeHgrcInHGRCPATH</key>
	<true/>
	<key>LocalHGShellAliasName</key>
	<string>mhg</string>
	<key>LocalWhitelistedHGShellAliasName</key>
	<string>chg</string>
	<key>LogEntryTableBookmarkHighlightColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgyhxLj+DNd1VP4Og1n4/AYY=</data>
	<key>LogEntryTableBranchHighlightColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYPqOmo/g748Pj8Bhg==</data>
	<key>LogEntryTableDisplayBranchColumn</key>
	<false/>
	<key>LogEntryTableDisplayChangesetColumn</key>
	<true/>
	<key>LogEntryTableParentHighlightColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg6hAYD+Dpr9SPwEBhg==</data>
	<key>LogEntryTableTagHighlightColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg747AD+DoOd/P4MNbeA+AYY=</data>
	<key>LoggingLevelForHGCommands</key>
	<integer>1</integer>
	<key>MacHgLogFileLocation</key>
	<string>/tmp/MacHgTransactionLog</string>
	<key>OnApplicationActivationOpenWhat</key>
	<integer>0</integer>
	<key>PreferencesFadeSwitch</key>
	<true/>
	<key>PreferencesShiftSlowsAnimation</key>
	<true/>
	<key>RequireVerifiedServerCertificates</key>
	<true/>
	<key>RevisionSortOrder</key>
	<integer>1</integer>
	<key>ShowAddedFilesInBrowser</key>
	<true/>
	<key>ShowCleanFilesInBrowser</key>
	<false/>
	<key>ShowFilePreviewInBrowser</key>
	<false/>
	<key>ShowIgnoredFilesInBrowser</key>
	<false/>
	<key>ShowMissingFilesInBrowser</key>
	<true/>
	<key>ShowModifiedFilesInBrowser</key>
	<true/>
	<key>ShowRemovedFilesInBrowser</key>
	<true/>
	<key>ShowResolvedFilesInBrowser</key>
	<true/>
	<key>ShowUnresolvedFilesInBrowser</key>
	<false/>
	<key>ShowUntrackedFilesInBrowser</key>
	<true/>
	<key>SizeOfBrowserColumns</key>
	<integer>210</integer>
	<key>ToolNameForDiffing</key>
	<string></string>
	<key>UseWhichToolForDiffing</key>
	<integer>0</integer>
	<key>UseWhichToolForMerging</key>
	<integer>0</integer>
	<key>ViewsHaveIndependentSizes</key>
	<true/>
	<key>WarnAboutBadMercurialConfiguration</key>
	<false/>
</dict>
</plist>
