body {
	margin: 0;
	margin-top: 5px;
	width: 100%;
	font: small 'Lucida Grande', Arial;
}

.diff .file {
	margin: 13px 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 2px #DDD;
}

.includehunk {
	float: right;
}

.diff .file .fileHeader {
	margin-top: -5px;
	padding-bottom: 1px;
	font-weight: bold;
}

.diff .file .diffcontent {
	white-space: pre;
	font-family: Monaco;
}

.diff .file .diffcontent .lineno {
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #ECECEC;
	color: #A9A9A9;
	border: 1px solid #DDDDDD;
	text-align: right;
}

.diff .file .diffcontent .lines {
	overflow: auto;
}

/* @group Hunk */

.hunk > .hunkheader {
  background-color: #f7f7f7;
  color: #bbb;
}


.hunk > .delline {
  background-color: #FEE;
  color: #B00;
}

.hunk > .addline {
  background-color: #DFD;
  color: #080;
}

.hunk > .noopline {
  background-color: #f4f8fc;
}

.hunk > .whitespace {
	background-color: rgba(255,0,0,0.5);
}

/* @end */


/* @group DisabledHunk */

.disabledhunk > .hunkheader {
  background-color: #f7f7f7;
  color: #a1a1a1;
}


.disabledhunk > .delline {
  background-color: #e5e5e5;
  color: #7c7c7c;
}

.disabledhunk > .addline {
  background-color: #e5e5e5;
  color: #7c7c7c;
}

.disabledhunk > .noopline {
  background-color: #f1f1f1;
  color: #7c7c7c;

}

.disabledhunk > .whitespace {
  background-color: #f1f1f1;
}

/* @end */

#CurrentHunk {
	border-left: 5px solid black;
}

.message {
	color: #b3b3b3;
	font: large "Lucida Grande", Lucida, Verdana, sans-serif;
	padding-top: 3em;
	padding-left: 2em;
}

div.spinner {
  position: relative;
  width: 35px;
  height: 35px;
  left: 15px;
  bottom: -14px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
