body {
	margin: 0;
	margin-top: 5px;
	width: 100%;
	font-family: small 'Lucida Grande', Arial;
}

table, caption {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
}

.diff .file {
	margin: 13px 10px;
	padding: 10px;
	min-width : 450px;
	-webkit-border-radius: 10px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 2px #DDD;
}

.hunkselector {
	float: right;
}

.file .fileHeader {
	margin-top: -5px;
	padding-bottom: 1px;
	font-weight: bold;
}

.file .diffcontent {
	white-space: pre;
	font-family: Menlo, Monaco, monospace;
}

.lineno {
	background-color: #ECECEC;
	color: #A9A9A9;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
}

div.lineno {
	float: left;
	border: 1px solid #DDDDDD;
}

.diffcontent td {
    padding: 0px;
    vertical-align: baseline;
}

td.lineno {        
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.diffcontent .lines {
	overflow: auto;
}


/* side by side table layout */

table.diffcontent {
    border-collapse:collapse;
    border-style: none;
    border-spacing: 0px;
	font-size:1em;	/* This hack makes webkit actully do inherit, whereas inherit doesn't actually truley do inherit */
    padding:0px;
    width: 100%;
}

.difftruncate table.diffcontent {
    table-layout:fixed;
}

.difftruncate td {
    white-space:pre;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left: 0.3em;
    text-indent: 0px;
}


.diffwrap table.diffcontent {
    table-layout:auto;
}

.diffwrap td {
    white-space:pre-wrap;
    padding-left: 2.3em;
    text-indent: -2em;
}


td.lineno {
	padding-left: 2px;
	padding-right: 2px;
    text-indent:0px;
}


/* @group Hunk */

.hunk .hunkheader {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0,60,80,0.09);
  margin-top: -1px;
  color: #bbb;
}


.hunk .delline {
  background-color: #FAEAEA;
  color: #800;
}
.hunk .delline delete {
  background-color: #F0B0B0;
  color: #A00;
}


.hunk .addline {
  background-color: #E0FAE0;
  color: #080;
}
.hunk .addline insert {
  background-color: #A0F0A0;
  color: #070;
}


.hunk .noopline {
  background-color: #f4f8fc;
}

.hunk .whitespace {
	background-color: rgba(255,0,0,0.5);
}

/* @end */


/* @group DisabledHunk */

.disabledhunk .hunkheader {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(80,80,80,0.09);
  margin-top: -1px;
  color: #a1a1a1;
}


.disabledhunk .delline {
  background-color: #e5e5e5;
  color: #7c7c7c;
}

.disabledhunk .addline {
  background-color: #e5e5e5;
  color: #7c7c7c;
}

.disabledhunk .noopline {
  background-color: #f1f1f1;
  color: #7c7c7c;

}

.disabledhunk .whitespace {
  background-color: #f1f1f1;
}

/* @end */

#CurrentHunk {
	border-left: 5px solid black;
}

.message {
	color: #b3b3b3;
	font: large "Lucida Grande", Lucida, Verdana, sans-serif;
	padding-top: 3em;
	padding-left: 2em;
}


/* @group Spinners */

div.spinner {
  position: relative;
  width: 35px;
  height: 35px;
  left: 15px;
  bottom: -14px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

/* @end */


.hunkselector, .diffbutton
{
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background-color:#ededed;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:1em;
	padding:2px 5px;
	text-decoration:none;
}
.hunkselector:hover, .diffbutton:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background-color:#dfdfdf;
}
.hunkselector:active, .diffbutton:active
{
	position:relative;
	top:1px;
}