// Global settings for all configurations


ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx10.6
VALID_ARCHS = i386 x86_64
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
PREBINDING = NO
GCC_C_LANGUAGE_STANDARD = gnu99
ALWAYS_SEARCH_USER_PATHS = NO

FRAMEWORK_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/System/Library/Frameworks"

LIBRARY_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/usr/lib"
