// Global settings for all configurations


ARCHS = i386 x86_64
SDKROOT = macosx10.7
VALID_ARCHS = i386 x86_64
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
PREBINDING = NO
GCC_C_LANGUAGE_STANDARD = gnu99
OTHER_CFLAGS = 
OTHER_CPLUSPLUSFLAGS = 
OTHER_C_AND_CPLUSPLUSFLAGS = // -fdiagnostics-show-category=name
ALWAYS_SEARCH_USER_PATHS = NO

FRAMEWORK_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/System/Library/Frameworks"

LIBRARY_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/usr/lib"
