// MacHG settings for all configurations


INSTALL_PATH = $(HOME)/Applications
INFOPLIST_FILE = MacHg-Info.plist
PRODUCT_NAME = MacHg
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) "$(SRCROOT)/LinkedLibraries/BWToolkit" "$(SRCROOT)/LinkedLibraries"
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_1)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/Classes/**"
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = MacHg_Prefix.pch


GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_UNUSED_VARIABLE = YES
