// MacHG settings for all configurations


INSTALL_PATH = $(HOME)/Applications
INFOPLIST_FILE = MacHg-Info.plist
PRODUCT_NAME = MacHg
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) "$(SRCROOT)/LinkedLibraries/BWToolkit" "$(SRCROOT)/LinkedLibraries"
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_1)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/Classes/**"
IBC_PLUGIN_SEARCH_PATHS = "$(SRCROOT)/LinkedLibraries/BWToolkit"
OTHER_CFLAGS = $(inherited) $(OTHER_C_AND_CPLUSPLUSFLAGS)
OTHER_CPLUSPLUSFLAGS = $(inherited) $(OTHER_C_AND_CPLUSPLUSFLAGS)
OTHER_C_AND_CPLUSPLUSFLAGS = $(inherited)
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = MacHg_Prefix.pch


GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_UNUSED_VARIABLE = YES
